.book-store-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: rgb(122, 96, 78);
  padding: 2%;
}

/* header > p {
  rotate: 90
} */

.logo-container {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 12vw;
  height: 8vh;
  position: relative;
  animation: myMove 20s infinite;
}

#logo1 {
  animation-timing-function: linear;
}
#logo2 {
  animation-timing-function: ease;
}

@keyframes myMove {
  0% {
    left: -20vw;
  }
  4% {
    left: 3vw;
  }
  30% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: -20vw;
  }
}

.book-store-header > h1 {
  font-size: 4vw;
  border-top: #faab51 5px solid;
  border-bottom: #faab51 5px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 35%;
  font-family: "Times New Roman", Times, serif;
}

#search_input {
  font-size: 2vh;
  width: 15vw;
}

#search_button {
  font-size: 2vh;
}
